.App {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
.blue-block {
  height: 100px;
  width: 100px;
  background-color: rgb(5, 5, 76);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid brown;
  margin-bottom: 20px;
}

.blue-block-number {
  color: aliceblue;
  font-size: 30px;
}

.main-yellow-block, .main-blue-block{
  min-height: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.yellow-block {
  height: 100px;
  width: 100px;
  background-color:yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid brown;
  margin-bottom: 20px;
}

.yellow-block-number {
  color: rgb(2, 36, 65);
  font-size: 30px;
}

button{
  margin-bottom: 5px;
  font-size: 20px;
}